body {
   
    color: black;
}

.ui-panorama {
    background: none;
}

.ui-panorama-item h2 {
    margin-top: 0px;
    color: gray;
}

.ui-panorama-item-active h2 {
    color: black;
}

.todo-item {
    margin-bottom: 35px;
    border-bottom: 1px solid #444;
    font-size: 1.5em;
}

.todo-suffix {
    color: gray;
    font-size: 0.8em;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.ui-panorama, .ui-panorama-click-wrapper, body {
    overflow: hidden;
    -ms-content-zooming: none;
    -ms-touch-action: none;
}

    .ui-panorama h1 {
        margin-top: 0px;
    }

    .ui-panorama .ui-panorama-item h2,
    .ui-panorama h1 {
        overflow: hidden;
        white-space: nowrap;
    }

    .ui-panorama .ui-panorama-items {
        position: relative;
    }

        .ui-panorama .ui-panorama-items .ui-panorama-item {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0px; /* padding: 10px;*/
            overflow-x: hidden;
            overflow-y: auto;
        }

.ui-panorama-items {
    display: none;
}

.ui-loader {
    display: none;
}



div#home_btn {
    height: 3.3em;
    background: #12bb81;
    display: block;
    position: relative;
    z-index: 9999995 !important;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.4);
}

.panorama_btn, .search_btn {
    text-decoration: none;
    color: #fbfbfb;
    font-size: 2em;
    text-align: right;
    padding: 0em 0.3em;
    right: 1em;
    cursor: pointer;
    z-index: 50;
    display: inline-block;
    float: right;
}

#home_btn > div:first-child {
    padding-right: 0.6em;
}

div#slider_tipy_na_vilet, div#slider_podujatia, div#slider_sluzby {
    position: absolute;
    width: 100%;
    top: -1px;
}
.header_title h2 {
    position: relative;
    z-index: 5;
    /* bottom: 0px; */
    /* margin-top: 3em; */
    font-weight: 100;
    display: block;
    text-align: center;
    margin: 0px auto;
    color: white;
    top: 34%;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.52);

}

.header_title {
    position: relative;
    z-index: 5;
    height: 245px;
    overflow: hidden;
}



.panorama_content {
    display: block;
    position: relative;
    z-index: 5;
    margin-top: 0.5em;
}

button.btn.btn-default {
    width: 97%;
    margin: 0px auto;
    display: block;
    /* margin-bottom: 0.9em; */
    padding: 0.8em 1em;
    position: relative;
    padding: 1em 1em;
    z-index: 500;
    border-radius: 0.2em;
    border: 0px;
    border-bottom: 1px solid #d8d8d8;
    text-align: left;
    -webkit-box-shadow: 0px 3px 10px -6px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 10px -6px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 10px -6px rgba(0,0,0,0.4);
}


#map {
    z-index: 100;
    width: 100%;
}


.gulocky {
    width: 100%;
    /* background: rgba(251, 251, 251, 0.18);*/
    position: absolute;
    z-index: 2;
    height: 2em;
    /* bottom: 6em; */
    top: 87%;
    text-align: center;
}


.gulka_plna, .gulka_prazdna {
    height: 0.7em;
    width: 0.7em;
    position: relative;
    background: rgba(255, 255, 255, 0.78);
    display: inline-block;
    margin: 0.5em 1em;
    border-radius: 50%;
}
.gulka_plna{
    background: rgba(255, 255, 255, 0.78);
}
.gulka_prazdna {
    background: rgba(255, 255, 255, 0.3);
}



div#vyber_strany_cont, div#vyber_jazyku_cont {
    position: absolute;
    margin-top: 3.3em;
    /* background: rgba(255, 255, 255, 0.49); */
    min-height: 5em;
    z-index: 6;
   
    top: 0;
    width: 100%;
    display: none;
}

div#vyber_strany .checkbox, div#vyber_jazyku .checkbox {
    margin: 0;
}


    div#vyber_strany .checkbox label, div#vyber_jazyku .checkbox label {
        background: rgba(255, 255, 255, 0.92);
        padding: 1em 3em;
        font-size: 1.1em;
        color: black;
        width: 100%;
        border-bottom: 1px solid #ada8a8;
    }

label.close_strana, label.close_jazyk {
    text-align: center;
}
    label.close_strana i, label.close_jazyk i {
        font-size: 1em;
    }





.nadstav_jazyk input[type="radio"] {
    margin-top: 0.3em;
    transition: all 0.5s;
}

.radio_jazyk img {
    width: 4.7em;
    height: auto;
    /* border: 1px solid #dedede; */
    border-radius: 0.2em;
    box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.18);
}

.radio_jazyk {
    transition: all 0.5s;
}


.visuallyhidden {
    opacity: 0;
}

.custom-radio + label {
    position: relative;
    left: -25px;
    margin-right: -15px;
}

    .custom-radio + label:before {
        content: "";
        margin: 5px;
    }

.custom-radio:focus + label:before {
    outline: 1px solid black;
    outline: 1px auto -webkit-focus-ring-color;
}

.radio_jazyk {
    opacity: 0.8;
}
.radio_jazyk.chcecked {
    opacity: 1;
}

#o_projekte_btn button.btn.btn-default {
    position: absolute;
    z-index: 5;
    bottom: 1em;
    right: 1em;
    width: 9em;
    text-align: center;
    font-size: 0.8em;
    padding: 0.8em;
    z-index: 6;
}

img.main_menu_ico {
    height: 1em;
}