
@font-face {
    font-family: Open Sans;
    src: url(/res/fonts/OpenSans.ttf);
}

html {
    height: 100%;
}

body {
    background-color: black;
    width: 100%;
    min-height: 100%;
    overflow: scroll;
    margin: 0;
    padding: 0;
    font-style:1.1em;
    font-family: 'Open Sans', sans-serif;
}


div#kontajner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


    body#mapa {
        margin: 0;
        background:none;
    }


    html, body#mapa, #map {
        height: 100%;
    }

#map {
    z-index: 1;
    width: 100%;
}


#pozadie {
    background-color: #EFEFEF;
    width: 100%;
    height: 100vh;
    height: 100%;
    /*position: absolute;*/
    position: fixed;
    overflow: hidden;
    border-radius: 1em;
}


/*MENU*/
ul#tnv_menu {
    position: absolute;
}

    ul#tnv_menu li a {
        text-decoration: none;
        color: black;
        font-size: 1.3em;
    }


#menu_kontajner {
    /* background: #EAA471;*/
    /* display: block; */
    position: absolute;
    top: 32%;
  
    width: 103%;
    margin-left: -1.5%;
    /*height: 100%;*/
}

div#menu {
  /* border: 1px solid #444040;*/
    border-width: 1px 0px;
    width: 100%;
    margin: 0px auto;
}

li.hlavne_menu {
    list-style: none;
    /* padding: 0.4em; */
    display: inline-block;
    width: 48.3%;
    height: 11em;
    margin-right: 2.2%;
    margin-bottom: 0.6em;
    overflow: hidden;
    border-radius: 1em;
    border: 1px solid rgba(0, 0, 0, 0.77);
}

    li.hlavne_menu:nth-child(odd) {
        border-radius: 0em 1em 1em 0em;
        border-left:none;
    }

    li.hlavne_menu:nth-child(even) {
        border-radius: 1em 0em 0em 1em;
        border-right: none;
    }

li.hlavne_menu:nth-child(even) {

    margin-right: 0em;

}


a.menu_tlacidlo {
    width: 100%;
    height: 100%;
    background: rgba(239, 239, 239, 0.52);
    position: relative;
    display: inline-block;
    text-align: center;
}

ul#hlavne_menu {
    padding: 0em;
    margin: 0em;
}


#menu a {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}

#menu span.s1 {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    margin-top: 1.1em;
}

/*Slider*/
#hlavny_slider {
    background: #9A6A6A;
    /* display: block; */
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 1em 1em 0 0;
}

div.okno {
    width: auto;
    height: 100%;
    background: #61CE7D;
    border-radius: 1em 1em 0 0;
    overflow: hidden;
}

.okno_img img {
    height: 100%;
    /* overflow: hidden; */
}

#hlavny_slider .popis {
    position: absolute;
    top: 22%;
    background-color: rgba(255, 255, 255, 0.48);
    padding: 1.8%;
    width: 100%;
    font-weight: 100;
    border: 1px solid black;
    border-left: none;
    border-right: none;
}
.okno_img {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


img.hlavne_logo {
    width: 64.7%;
    position: absolute;
    height: auto;
    padding: 1.7em 1.7em;
}

/*pocasie*/
div#pocasie_kontajner {
    background: #717AEA;
    /* display: block; */
    position: absolute;
    width: 100%;
    height: 18%;
    top: 61%;
}

div.pocasie {
    width: 100%;
    height: 100%;
    background: #C261CE;
}


/*pocasie*/
div#zmenaren_kontajner {
    background: #4851C1;
    /* display: block; */
    position: absolute;
    width: 100%;
    height: 18%;
    top: 80.5%;
}

div.zmenaren {
    width: 100%;
    height: 100%;
    background: #6173CE;
}


/*mapa btn*/
div#hlavne_menu_btn_kontajner, #tipy_na_vylet_jednotlivo_kontajner {
    position: absolute;
    top: 6%;
    top: 14%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.71);
    font-size: 1.3em;
    padding: 0.5em 1em;
    border-radius: 0px 1em 1em 0px;
}

    div#hlavne_menu_btn_kontajner a {
        text-decoration: none;
        color: black;
    }



div#mapa_kontajner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    overflow: hidden;
    z-index: 1;
}

img.mapa {
    height: 100%;
    border-radius: 1em;
}

/*mapa popis*/
.mapa_obrazok {
    display: inline-block;
    width: 30%;
}
img.mapa_popis {
    width: 100%;
}
.mapa_popis {
    width: 66%;
    margin-left: 4%;
    display: inline-block;
}

h3.mapa_nadpis {
    margin: 0;
    padding: 0;
}


/*tipy na výlet*/
div#tipy_na_vylet_menu {
    position: absolute;
}

#tipy_na_vylet_kontajner {
   /* background: #EAA471;*/
    /* display: block; */
    position: absolute;
    padding: 1em;
    width: 94%;
    height: 96%;
}

div#tipy_na_vylet_menu {
    position: relative;
    /* background: red; */
    height: 100%;
    width: 100%;
}

ul#tipy_na_vylet_zoznam {
    padding: 0em;
    margin: 0em;
    width: 100%;
    height: 100%;
    /* background: red; */
}


li.tipy_na_vylet {
    list-style: none;
    /* padding: 0.4em; */
    display: inline-block;
    width: 43.3%;
    height: 12em;
    margin-right: 2.2%;
    margin-bottom: 0.6em;
    overflow: hidden;
    border-radius: 1em;
    border: 1px solid rgba(0, 0, 0, 0.77);
}



a.tipy_na_vylet_tlacidlo {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    width: 100%;
    height: 100%;
    background: rgba(239, 239, 239, 0.52);
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius: 0.7em;
}


    a.tipy_na_vylet_tlacidlo  span.s1 {
        width: 100%;
        display: inline-block;
        text-align: center;
        font-size: 2em;
        margin-top: 1.1em;
    }

img.pozadie_tipy_na_vylet {
    height: 100%;
}



div#tipy_na_vylet_jednotlivo_kontajner {
    position: absolute;
}

div#body_tipy_na_vylet_zoznam {
    position: absolute;
}


.polozka_bod_zaujmu picture {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    text-align: center;
}

    .polozka_bod_zaujmu picture img {
        width: auto;
        height: 100%;
        text-align: center;
        opacity: 0.6;
    }

.polozka_bod_zaujmu h2.titulok {
    position: relative;
    width: 94%;
    font-size: 1em;
    padding: 3em 1em 1em 1em;
    margin: 0;
    z-index: 3;
}

    .polozka_bod_zaujmu h2.titulok a {
        color: #f3f3f3;
        text-decoration: none;
        z-index: 3;
    }

.polozka_bod_zaujmu p.popis {
    position: relative;
    /* width: 66.3%; */
    font-size: 1em;
    padding: 1em;
    color: #f3f3f3;
    /* right: -9.6em; */
    /* top: 3.5em; */
    /* text-align: justify; */
    margin-top: -1.5em;
    /* word-wrap: break-word; */
    margin-bottom: 0;
    z-index: 3;
}

article.polozka_bod_zaujmu {
    height: 18em;
    min-height: 18em;
    margin-bottom: 1em;
    font-size: 1em;
    width: 100%;
    overflow: hidden;
    background: rgb(0, 0, 0);
    /* background: rgba(255, 255, 255, 0.4); */
}

.informacie p {
    position: relative;
    display: inline-block;
    font-size: 0.7em;
    /* margin-top: 4em; */
    float: left;
    color: #f3f3f3;
    margin-left: 1.6em;
    z-index: 3;
}


    .informacie p a {
        color: #f3f3f3;
        text-decoration:none
    }

.informacie_tlacidlo {
    position: relative;
    color: red;
    background: red;
    display: none;
}

a.polozka_bod_zaujmu {
    display: block;
    position: absolute;
    width: 100%;
    height: 18em;
    z-index: 2;
}

.navigacia {
    position: fixed;
    z-index: 10;
    margin-top: 1em;
}

#tipy_na_vylet_btn_lavo a, #tipy_na_vylet_btn_pravo a {
    position: fixed;
    /*top: 86%;*/
    z-index: 2;
    background: rgba(255, 255, 255, 0.71);
    font-size: 1.3em;
    padding: 0.5em 1em;
    border-radius: 0px 1em 1em 0px;
    display: inline-block;
    z-index: 5;
    text-decoration: none;
    color: black;
}

#tipy_na_vylet_btn_pravo a {
    border-radius: 1em 0em 0em 1em;
    /* float: right; */
    right: 0;
}

.detail_btn {
    position: relative;
    display: inline-block;
    z-index: 5;
    float: right;
    margin-right: 1.5em;
    /* margin-top: 1em; */
    /* bottom: -7px; */
    text-align: center;
}

    .detail_btn a {
        position: relative;
        background: rgba(255, 255, 255, 0.33);
        z-index: 5;
        margin-left: 1em;
        width: 7em;
        height: 2em;
        text-decoration: none;
        color: rgb(255, 255, 255);
        border-radius: 0.3em;
        padding: 0.6em 0em 0em 0em;
        /* border: 2px solid rgba(17, 105, 73, 0.46); */
        background: rgba(18, 187, 129, 0.54);
        text-align: center;
        font-size: 0.7em;
    }

div#body_tipy_na_vylet_detail {
    position: absolute;
}

img.deatil_img_head {
    width: 100%;
    height: auto;
    border-radius: 1em 1em 0 0;
    -webkit-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.62);
}

.single__heading__inner {
    position: absolute;
    top: 2.4em;
    color: rgba(255, 255, 255, 0.95);
    padding: 0.5em;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.73);
}


}

.tienidlo_detail {
    background: rgba(0, 0, 0, 0.31);
    width: 100%;
    height: 100%;
    position: absolute;
}

#body_tipy_na_vylet_detail p {
    /*color: white;*/
    padding: 0 1em;
    text-align: justify;
    position: relative;
}

p.hrube {
    margin-bottom: 0em;
    padding-bottom: 0em;
    font-weight: 600;
}

h2.detail_podnadpis {
    margin-left: 0.6em;
    font-size: 1.25em;
}

.detail_odkaz {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

table.table_info {
    margin-left: 0.7em;
}


















/*slider*/

div#slider {
    /*background: rgb(255, 255, 255);*/
    position: relative;
    width: 100%;
    /* height: 100%; */
    min-height: 16em;
    top: 0;
    z-index: 21;
    display: block;
    overflow: hidden;
    border-radius: 0 0 1em 1em;
}

div#slider_tienidlo {
    background: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    /* height: 100%; */
    opacity: 0.1;
    min-height: 680px;
    top: 0;
    z-index: 2;
    display: block;
}

img.slider_image {
    /* height: 100%; */
    width: 100%;
    /* min-height: 680px; */
    opacity: 1;
    position: absolute;
    border-radius: 0.1em;


}

.total-navbar {
    width: 90%;
    margin-top: 0.4em;
    float: right;
}

.logo_nove {
    display: inline-block;
    margin-left: -3em;
    width: 8.2em;
}

img.slider_image.sirsie {
    width: 100%;
    height: auto;
}

img.slider_image {
    display: none;
}

    img.slider_image:first-child {
        display: block;
    }

    img.slider_image.uzsie {
        right: -13em;
    }

div#info_cont {
    width: 100%;
    position: absolute;
    z-index: 100;
    padding: 0.5em 1em;
    top: 87.1%;
    background: rgba(255, 255, 255, 0.65);
}

div#info_dostupnost {
    position: absolute;
    /* float: right; */

    display: block;
    width: 100%;
}

div#info_online, div#info_offline {
    position: absolute;
    float: right;
    right: 1em;
    display:none;
}

.kruh {
    width: 0.7em;
    height: 0.7em;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.41);
    /* padding-top: 1em; */
}
div#info_online .kruh {
    background: rgba(0, 255, 0, 0.82);
}
div#info_offline .kruh {
    background: rgba(255, 0, 0, 0.82);
}